version: "{build}"
image: Visual Studio 2017
branches:
  only:
  - master
install:
- ps: C:\projects\scm-backup\version-number.ps1
build_script:
- ps: C:\projects\scm-backup\build-release.ps1
test: off
artifacts:
- path: release\scm-backup-*.zip
  name: Release Version
- path: src\ScmBackup.Tests.Integration\bin\Release\netcoreapp2.0\*.log
  name: Integration Test Logfile
assembly_info:
  patch: true
  file: AssemblyInfo.cs
  assembly_version: '$(ScmBackupShortVersion)'
  assembly_file_version: '$(ScmBackupShortVersion)'
  assembly_informational_version: '$(ScmBackupLongVersion)'
deploy:
  description: ''
  provider: GitHub
  auth_token:
    secure: jSFkl4pbQUbrR2Yqh8MEAUmJ8uP6/Pm6sca+pd6HYB04B/zi4Y92WF0FG6d1/PdF
  artifact: Release Version
  draft: false
  prerelease: false
  on:
    branch: master
    appveyor_repo_tag: true