# copy/rename this file to environment-variables.ps1

Write-Host 'Setting environment variables for integration tests...'

$env:Github_Name = 'scm-backup-testuser'                                # User for authentication. Must have read permission for private repo.
$env:Github_PW = 'not-the-real-password'                                # the user's personal access token
# $env:Github_RepoPrivate = '...'                                       # TODO: a private repository (see #17)

$env:Bitbucket_Name = 'scm-backup-testuser'                             # User for authentication. Must have read permission for both private repos
$env:Bitbucket_PW = 'not-the-real-password'                             # the user's app password
$env:Bitbucket_RepoPrivate = 'scm-backup-test-private-hg'               # MERCURIAL: a private repository
$env:Bitbucket_RepoPrivateGit = 'scm-backup-test-private-git'           # GIT: a private repository
