<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="f" xsi:type="File" fileName="${basedir}/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="f" />    
  </rules>
</nlog>