<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="f"
            xsi:type="File"
            fileName="${basedir}/logs/scm-backup.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            maxArchiveFiles="10"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd-HH-mm-ss"
            archiveFileName="${basedir}/logs/archive/scm-backup-{#}.log"
            ArchiveOldFileOnStartup="true"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="f" />    
  </rules>
</nlog>